@import url('https://fonts.googleapis.com/css?family=Open+Sans|Nunito');

html {
position: relative;
  height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
        flex-flow:column nowrap;
    min-height:100%; /* fix IE11 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    }
body {
  height: 100%;
    width: 100%;
font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
        margin: 0px;
    padding: 0px;    
  /* Margin bottom by footer height */
  margin-bottom: 60px;
flex-flow:column nowrap;
    min-height:100%; /* fix IE 11 */
}
/* Got rid of extra white space on the sides on mobile*/
#wrapper {position: absolute;
    width: 100%;
    overflow-x: hidden}
.about-tools ul li, .contact-social-icons ul a li {
  text-align: center; }
.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }
.break {
  clear: both;
  margin-top: 10px; }
@media (min-width: 768px) {
  .pull-right-sm {
    float: right; }
  .pull-left-sm {
    float: left; } }
@media (min-width: 992px) {
  .pull-right-md {
    float: right; }
  .pull-left-md {
    float: left; } }
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right; }
  .pull-left-lg {
    float: left; } }
img {
  width: 100%;
}
/*head and font tags*/
h1 {
font-family: 'Nunito', sans-serif;
color: #ffffff;
    font-style: italic;
    letter-spacing: 0.075em;
    font-size: 3.5em;
    font-weight: bold;
}
h2{
    font-family: 'Nunito', sans-serif;
color: #ffffff;
    font-size: 3em;
}
h3,
h4{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}
h5 {
font-family: 'Nunito', sans-serif;
letter-spacing: 0.075em;
  color: #040F3D;
}
a {
    color: #0496ff;
}
.cover.top h1 {
    color: #ffffff;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 35px rgba(255,255,255,0.3);
}
#about h3 {
    color: #FF4040;
}
#about h4 {
    color: #040F3D;
}
  #about h1 {
    color: #3772FF;
}
#portfolio h1 {
    color: #FF4040;
}
#about hr {
    color: #FF4040;
}
#contact h3{
    color: #FF4040;
}
#portfolio h2 {
    padding-bottom: 1.25em; 
}
#contact h2 {
color: #3772FF; 
}
hr {
        border-color: #d1d7e0;
}
.text-center-cover{
    color:#FF4040;
}
.lead-text-center{
    color:#FF4040;
}
p {
font-family: 'Open Sans', sans-serif;
  color: #040F3D; }
li {
    font-family: 'Open Sans', sans-serif;
  color: #040F3D; }
body > .container-fluid {
  padding: 0 15px 0; }
.container-fluid .text-muted {
  margin: 20px 0; }
.btn:focus, a:focus {
  outline: none; }
/*navbar positioning and color*/
.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #ffffff;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-transition: background-color 1s ease 0s;
   -moz-transition: background-color 1s ease 0s;
  -o-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s; }
.navbar-brand {
  display: none;
  margin-top: 10px;
  color: #FF4040;
font-family: 'Nunito', sans-serif;
    font-style: italic;
    letter-spacing: 0.15em;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
font-family: 'Open Sans', sans-serif;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  margin: 5px 5px 5px 5px;
  border-radius: 20px;
letter-spacing: 0.15em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #3772FF;
  border: 1px solid #040F3D;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
	transition: all 0.4s;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #f5f5f5;
  text-decoration: none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #FF4040; }
.navbar-default .navbar-toggle {
  border-color: #040F3D; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFE74C; }
  .navbar-default .navbar-toggle .icon-bar {
    color: #040F3D;
    background-color: #040F3D; }
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #040F3D; }

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #ffffff;
  -webkit-transition: background-color 1s ease 0s;
  -o-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  -moz-transition: background-color 1s ease 0s;
  -webkit-box-shadow: 0 0 4px rgba(7, 55, 74, 0.2);
  -moz-box-shadow: 0 0 4px rgba(7, 55, 74, 0.2);
  -o-box-shadow: background-color 1s ease 0s;
          box-shadow: 0 0 4px rgba(7, 55, 74, 0.2);
}
  .navbar.solid .navbar-brand {
    display: inline-block;
    -webkit-transition: color 1s ease 0s;
        -moz-transition: color 1s ease 0s;
    -o-transition: color 1s ease 0s;
    transition: color 1s ease 0s; }
  .navbar.solid .navbar-nav > li > a {
    color: #FF4040;
    -webkit-transition: color 1s ease 0s;
    -moz-transition: color 1s ease 0s;
    -o-transition: color 1s ease 0s;
    transition: color 1s ease 0s; }
  .navbar.solid .navbar-nav > li > a:hover {
    color: #22a7f0;
    -webkit-transition: color 1s ease 0s;
        -moz-transition: color 1s ease 0s;
    -o-transition: color 1s ease 0s;
    transition: color 1s ease 0s; }
  .navbar.solid .navbar-nav > li > .active {
    color: #0496ff;
    }
/*cover color and angle*/
.cover {
  padding: 10% 0 10% 0;
}
  .cover.top {
    padding: 15% 0 10% 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: linear-gradient(to right bottom, #3772FF 0%, #FF4040 100%);
}
/* FBF6CF */
header {
  position: relative;
  background-color: #FF4040;
  height: 100%;
  width: 100%;
  overflow: hidden;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 20%)
  );
    -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 20%)
  );
    
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
   opacity: .25;
}
header .container {
  position: relative;
  z-index: 2;
}
#scrollIcon, #scrollTopIcon {
  margin-top: 10px;
  padding: 10px;
  font-size: 1.5em;
  color: #000000;
background: #ffffff;
    opacity: .9;
  border-radius: 50%;
box-shadow:  0 0 30px 15px #ffffff,  /* outer crimson sky */
        0 0 0px 0px #ffffff, 
        0 0 0px 0px #ffffff; 
}
#scrollIcon:hover{
    opacity: 1;
    background: #ffffff;
    -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all0.8s;
	transition: all 0.8s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     color: #000000;
}
/*Keyboard effect*/
.ml11 {
  font-weight: 900;
  font-size: 3.5em;
}
.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}
.ml11 .line1 { 
  top: 0; 
  left: 0;
}
.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
      .cover.bottom {
    padding: 10% 0 10% 0; }
.headline {
  padding-top: 4em; }
  @media screen and (min-width: 768px) {
    .headline {
      padding-top: 3.75em; } }
  @media screen and (min-width: 992px) {
    .headline {
      padding-top: 1.5625em; } }
  @media screen and (min-width: 1200px) {
    .headline {
      padding-top: 0px; } }
/*about section color*/
#about {
 background-color: #ffffff;
}
.profile-img {
  margin-bottom: 15px;
  width: 200px;
    height: 200px;
  filter: alpha(opacity=9);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about, .about-info, .about-tools, .about-last {
  padding: 4% 10% 1% 10%;
  font-size: 1.25em; }
  .about-tools {
    padding-top: 4.375em;
    font-weight: 700;
    font-size: 1.5em;
    }
    @media screen and (min-width: 992px) {
      .about-tools {
        padding-top: 5.625em; } }
    .about-tools ul:first-child {
      padding-left: 0px; }
    .about-tools ul {
      color: #040F3D;
      list-style: none; }
      .about-tools ul li {
        padding-top: 0.75em; }
  .about-last {
    padding-top: 3.125em;
    padding-bottom: 0;
    font-size: 1.125em; }
    @media screen and (min-width: 992px) {
      .about-last {
        padding-top: 0; } }
    .about-last p {
      color: #040F3D; }
/*portfolio color*/
#portfolio {
  background-color: #FFE74C;
  background-image: -webkit-linear-gradient(97.5deg, #FFFFFF 40%, #FFE74C 40%);
  min-height: 400px;
}
/* #662EB */
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
/*card properties*/
.card {
  display: block; 
    margin-bottom: 30px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card1 {
    background-color: #ffffff;
}
.card2 {
    background-color: #ffffff;
}
.card3 {
    background-color: #ffffff;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  display:block;
    overflow: hidden;
    background-color: #000000;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
   border-top-left-radius:20px;
  border-top-right-radius:20px;
  transition: all 1s ease-in-out;
}
.img-card:hover img {
  transform: scale(1) rotate(0);
     transform-origin: 50% 50%;
  transform: scale(0.9) rotate(-5deg);
}
img-card h1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  padding: 0 0.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none;
}
/*popup vimeo aspects*/
.popup-vimeo {
  border-top: 1px solid #D4D4D4;
}
.popup-vimeo a {
  text-decoration: none;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
}
/*button properties*/
button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
.buttoncontainer {
  padding: .5em;
}
button {
  background: #EBE9E9;
font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  color: #040F3D;
  display: block;
  padding: .2em 1.6em;
  position: relative;
  text-transform: uppercase;
    text-decoration:none;
    border-color: black;
    border: 2px;
    margin: .2em;

}
button:hover {
  background: #c96567;
}
.button10:hover {
  background: #65c9c7;
}
.button11:hover {
  background: #c96567;
}
.button12:hover {
  background: #b19cd9;
}
/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}
.btn-1:hover:after {
  height: 100%;
}
.button10{
    background: #ffffff;
}
.button11{
    background: #ffffff;
    }
.button12{
    background: #ffffff;
}
@media (pointer: coarse) and (hover: none) {
  header {
    background: url(landscapepic.png) #FF4040 no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/*contact section aspects*/
#contact {
    opacity: .95;
    padding-bottom: 4em;
  padding-top: 4em;
    width:100%;
height: auto;

}
/*
.footer {
  bottom: 0;
  width: 100%;
  height: 10px;
   }
*/
.contact-social-icons p {
  color: #040F3D; }
.contact-social-icons ul a {
  color: #040F3D;
  list-style: none; }
  .contact-social-icons ul a:hover {
    color: #ffffff; }
  .contact-social-icons ul a li {
    display: inline-block;
    padding: 2%; }
/*contact-form properties*/
.contact-form{
    background: transparent;
    color: white;
    padding: 5%;
    width: 100%;
}
.form-group{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0496ff;
    font-size: 12px;
    color: gray;
    margin-bottom: 16px;
    outline: none;
    border-radius: 0;
    transition: .5s .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
.form-group:focus{
    box-shadow: none;
    border-bottom: 2px solid #3772FF;
}
  input{
      height: 45px;
}
form .submit{
    background: #0496ff;
    border-color: transparent;
    color: #fff;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
        transition: .5s ease-in-out;
            -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
form .submit:hover{
    background: #3772FF;
}
.back-to-top {
  display: none; }
  .back-to-top.visible {
    display: block; }
