@import url('https://fonts.googleapis.com/css?family=Open+Sans|Nunito');@font-face{font-family:"Oneday";src:url("webfonts/oneday-webfont.eot");src:url("webfonts/oneday-webfont.woff") format("woff"),url("webfonts/oneday-webfont.otf") format("opentype"),url("webfonts/oneday-webfont.svg") format("svg")}
@font-face{font-family:"Saltery_alternate";src:url("webfonts/saltery_alternate-webfont.eot");src:url("webfonts/saltery_alternate-webfont.woff") format("woff"),url("webfonts/saltery_alternate-webfont.otf") format("opentype"),url("webfonts/saltery_alternate-webfont.svg") format("svg")}
html{position:relative;height:100%;width:100%;overflow-x:hidden;margin:0;padding:0;flex-flow:column nowrap;min-height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-o-box-sizing:border-box}
body{height:100%;width:100%;font-family:'Open Sans',sans-serif;background-color:#fff;margin:0;padding:0;margin-bottom:60px;flex-flow:column nowrap;min-height:100%}
#wrapper{position:absolute;width:100%;overflow-x:hidden}
.about-tools ul li,.contact-social-icons ul a li{text-align:center}
.centered{float:none;margin-left:auto;margin-right:auto}
.break{clear:both;margin-top:8px}
@media(min-width:768px){.pull-right-sm{float:right}
.pull-left-sm{float:left}
}@media(min-width:992px){.pull-right-md{float:right}
.pull-left-md{float:left}
}@media(min-width:1200px){.pull-right-lg{float:right}
.pull-left-lg{float:left}
}img{width:100%}
h1,h2,h3,h4,h5{margin-top:10px;margin-bottom:10px}
h1{font-family:'Nunito',sans-serif;color:#fff;font-style:italic;letter-spacing:2px;font-size:40px;font-weight:bold}
h2{font-family:'Nunito',sans-serif;color:#fff;font-size:34px}
h3,h4{color:#fff;font-family:'Nunito',sans-serif}
h5{font-family:'Nunito',sans-serif;letter-spacing:.075em;color:#040f3d}
a{color:#000}
a:hover{color:blue}
.cover.top h1{color:#fff}
#about h3{color:#000}
#about h4{color:#040f3d}
#about h1{color:#000}
#portfolio h1{color:#000}
#about hr{color:#000}
#contact h3{color:#000}
#portfolio h2{padding-bottom:10px;padding-top:10px}
#contact h2{color:#000}
hr{border-color:#d1d7e0}
.text-center-cover{color:#000}
.lead-text-center{color:#000}
p{font-family:'Open Sans',sans-serif;color:#040f3d}
li{font-family:'Open Sans',sans-serif;color:#040f3d}
body>.container-fluid{padding:0 15px 0}
.container-fluid .text-muted{margin:20px 0}
.btn:focus,a:focus{outline:0}
.navbar{background-color:transparent;background:transparent;border:0;color:#fff;z-index:100;margin-bottom:0;border-radius:0;-webkit-transition:background-color 1s ease 0s;-moz-transition:background-color 1s ease 0s;-o-transition:background-color 1s ease 0s;transition:background-color 1s ease 0s}
.navbar-brand{display:none;margin-left:6px;padding:px;color:#000;font-family:'Nunito',sans-serif;font-style:italic;letter-spacing:.15em}
.navbar-default .navbar-nav>li>a{font-family:'Open Sans',sans-serif;border:1px solid transparent;color:#f5f5f5;font-size:1em;text-transform:uppercase;margin:5px 5px 5px 5px;border-radius:20px;letter-spacing:.15em}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:focus{color:blue;border:1px solid #ccc;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s}
.navbar-default .navbar-nav>li>a:visited{color:#f9f9f9;text-decoration:none}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{background-color:transparent;color:#000}
.navbar-default .navbar-toggle{border-color:#fff}
.navbar-default .navbar-toggle .icon-bar{color:#ccc;background-color:#ccc}
.navbar-default .navbar-collapse.collapse.in ul{background-color:#000}
.navbar.solid{background-color:#fff;-webkit-transition:background-color 1s ease 0s;-o-transition:background-color 1s ease 0s;transition:background-color 1s ease 0s;-moz-transition:background-color 1s ease 0s;-webkit-box-shadow:0 0 4px rgba(7,55,74,0.2);-moz-box-shadow:0 0 4px rgba(7,55,74,0.2);-o-box-shadow:background-color 1s ease 0s;box-shadow:0 0 4px rgba(7,55,74,0.2)}
.navbar.solid .navbar-brand{display:inline-block;-webkit-transition:color 1s ease 0s;-moz-transition:color 1s ease 0s;-o-transition:color 1s ease 0s;transition:color 1s ease 0s;margin:5px}
.navbar.solid .navbar-nav>li>a{color:#000;-webkit-transition:color 1s ease 0s;-moz-transition:color 1s ease 0s;-o-transition:color 1s ease 0s;transition:color 1s ease 0s}
.navbar.solid .navbar-nav>li>a:hover{color:blue;-webkit-transition:color 1s ease 0s;-moz-transition:color 1s ease 0s;-o-transition:color 1s ease 0s;transition:color 1s ease 0s}
.navbar.solid .navbar-nav>li>.active{color:blue}
.cover{padding:2% 0 2% 0}
.cover.top{padding:15% 0 10% 0;height:100vh;display:-webkit-box;display:-ms-flexbox;display:flex}
header{position:relative;background-color:#000;height:100%;width:100%;overflow:hidden;clip-path:polygon(0 0,100% 0,100% 100%,0 calc(100% - 20%));-webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 calc(100% - 20%))}
header video::-webkit-media-controls{display:none!important}
header video{position:absolute;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;z-index:0;-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);opacity:.25}
header .container{position:relative;z-index:2}
#scrollIcon,#scrollTopIcon{margin-top:10px;padding:10px;font-size:1.5em;color:#000;background:#fff;opacity:.9;border-radius:50%;box-shadow:0 0 30px 15px #fff,0 0 0 0 #fff,0 0 0 0 #fff}
#scrollIcon:hover{opacity:1;background:#fff;-webkit-transition:all .8s;-o-transition:all .8s;-moz-transition:all0.8s;transition:all .8s;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);color:#000}
.ml11{font-weight:900;font-size:3.5em}
.ml11 .text-wrapper{position:relative;display:inline-block;padding-top:.1em;padding-right:.05em;padding-bottom:.15em}
.ml11 .line{opacity:0;position:absolute;left:0;height:100%;width:3px;background-color:#fff;transform-origin:0 50%}
.ml11 .line1{top:0;left:0}
.ml11 .letter{display:inline-block;line-height:1em}
.cover.bottom{padding:10% 0 10% 0}
.headline{padding-top:3.75em}
.bodycontainer{max-width:1680px;display:block;margin-left:auto;margin-right:auto}
.card-content img{max-width:334px}
@media screen and (min-width:768px){.headline{padding-top:3.75em}
}@media screen and (min-width:992px){.headline{padding-top:1.5625em}
}@media screen and (min-width:1200px){.headline{padding-top:0}
}#about{background-color:#fff;max-width:2000px;margin-right:auto;margin-left:auto}
.profile-img{margin-bottom:15px;width:160px;height:160px;filter:alpha(opacity=9);box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.about,.about-info,.about-tools,.about-last{padding:8px 40px 2px 40px;font-size:16px}
.about-tools ul:first-child{padding-left:0}
.about-tools ul{color:#040f3d;list-style:none}
.about-tools ul li{padding-top:6px;font-size:16px;font-weight:700}
.about-last{padding-top:3em;padding-bottom:0;font-size:1.125em}
@media screen and (min-width:992px){.about-last{padding-top:0}
}.about-last p{color:#040f3d}
#portfolio{background-color:#f9f9f9;background-image:-webkit-linear-gradient(97.5deg,#fff 40%,#f9f9f9 40%);min-height:400px}
.wrapper{display:table;height:100%;width:100%}
.container-fostrap{padding:1em;text-align:center;vertical-align:middle}
.fostrap-logo{width:100px;margin-bottom:15px}
@media(min-width:450px){h1.heading{font-size:3.55em}
}@media(min-width:760px){h1.heading{font-size:3.05em}
}@media(min-width:900px){h1.heading{font-size:3.25em;margin:0 0 .3em}
}.card{display:block;margin-bottom:30px;line-height:1.42857143;background-color:#fff;border-radius:20px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);transition:box-shadow .25s}
.card-content img{max-width:334px}
.card1{background-color:#fff}
.card2{background-color:#fff}
.card3{background-color:#fff}
.card:hover{box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.img-card{width:100%;height:200px;border-top-left-radius:20px;border-top-right-radius:20px;display:block;overflow:hidden;background-color:#000}
.img-card img{width:100%;height:200px;object-fit:cover;border-top-left-radius:20px;border-top-right-radius:20px;transition:all 1s ease-in-out}
.img-card:hover img{transform:scale(1) rotate(0);transform-origin:50% 50%;transform:scale(0.9) rotate(-5deg)}
img-card h1{position:absolute;left:0;right:0;bottom:0;font-size:2.5em;color:#fff;text-transform:uppercase;padding:0 .3em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.card-content{padding:15px;text-align:left}
.card-title{margin-top:0;font-weight:700;font-size:1.65em}
.card-title a{color:#000;text-decoration:none}
.popup-vimeo{border-top:1px solid #d4d4d4}
.popup-vimeo a{text-decoration:none;padding:10px;font-weight:600;text-transform:uppercase}
button,button::after{-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.buttoncontainer{margin-top:-20px}
button{background:#ebe9e9;font-family:'Open Sans',sans-serif;border-radius:20px;color:#040f3d;display:block;padding:.2em 1.6em;position:relative;text-transform:uppercase;text-decoration:none;border-color:black;border:2px;margin:.2em}
button:hover{background:#000}
.button10:hover{background:#000;color:#fff}
.button11:hover{background:#000;color:#fff}
.button12:hover{background:#000;color:#fff}
.btn-1::after{height:0;left:0;top:0;width:100%}
.btn-1:hover:after{height:100%}
.button10{background:#fff}
.button11{background:#fff}
.button12{background:#fff;border:1px solid #f5f5f5}
#contact{margin-right:auto;margin-left:auto;opacity:.95;padding:1em;width:100%;height:auto;max-width:2000px}
.contact-social-icons p{color:#040f3d}
.contact-social-icons ul a{color:#040f3d;list-style:none}
.contact-social-icons ul a:hover{color:#fff}
.contact-social-icons ul a li{display:inline-block;padding:2%}
.contact-form{background:transparent;color:white;padding-right:5%;padding-bottom:5%;padding-left:5%;padding-top:5%;width:100%}
.contact-form{background:transparent;color:white;width:100%}
.contact-form::placeholder{color:#000;opacity:1}
.contact-form:-ms-input-placeholder{color:#fff}
.contact-form::-ms-input-placeholder{color:#fff}
.form-group{width:100%;background:transparent;border:0;border-bottom:1px solid #ccc;font-family:'MontLight',sans-serif;color:gray;margin-bottom:16px;margin-top:16px;outline:0;border-radius:0;transition:.5s .5s ease-in-out;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;font-size:16px}
.form-group:focus{box-shadow:none;border-bottom:1px solid #000}
.form-group input{height:45px;color:#fff}
form .submit{background:#fff;border:2px solid #000;margin-bottom:20px;color:#000;font-family:'Nunito',sans-serif;height:40px;margin-top:20px;width:100%;font-size:24px;border-radius:20px;transition:.5s ease-in-out;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out}
form .submit:hover{background:#000;color:#fff}
.back-to-top{display:none}
.back-to-top.visible{display:block}
.row{margin-right:0;margin-left:0}
.container-fluid{padding-right:0;padding-left:0;margin-right:auto;margin-left:auto}
